body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.dash-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 2em;
}

.dash-button{
  width: calc(100% / 4 - 4em);
  margin: 2em;
}

.dash-button button{
  line-height: 18vh !important;
  height: 18vh !important;
}

.dash-button button div{
  min-height: 18vh !important;
}

.dash-button button span{
  font-weight: 600 !important;
  font-size: 1em !important;
}

.dash-title{margin: 1em 2em;}
